@font-face {
    font-family: font_R;
    src: url(poppins_regular.ttf);
}

@font-face {
    font-family: font_M;
    src: url(poppins_medium.ttf);
}

@font-face {
    font-family: font_B;
    src: url(poppins_bold.ttf);
}

@font-face {
    font-family: font_BL;
    src: url(poppins_black.ttf);
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    // color: #303030;
    // color: #555555;

    // user-select: none;
    // /* supported by Chrome and Opera */
    // -webkit-user-select: none;
    // /* Safari */
    // -khtml-user-select: none;
    // /* Konqueror HTML */
    // -moz-user-select: none;
    // /* Firefox */
    // -ms-user-select: none;
    /* Internet Explorer/Edge */
    font-family: font_R;
    outline-width: 0;
    outline-style: none;
    border: 0px;
}

html,
body {
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
        margin: 0px;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ffffff0a;
// border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff1c;
}

$col1: #00B8A8;
$col2: #015963;
$col3: #3C4041;
$col4: #10f3e0;
$col5: #CAF0C1;
$col6: #F2FBFA;
$col7: #EEEEEE;
$col8: #868686;

$border: #D0D5DD;

$colError: #FF6161;

// INDEX
.login_page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainPage {
    width: 100vw;
    height: 100vh;
}
.page_header {
    width: 100%;
    height: 60px;
}
.page_body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page_left, .page_right {
    width: 25%;
    height: 100%;
    background-color: $col6;
}
.page_chat {
    width: 50%;
    height: 100%;
}

// HEADER
.header {
    background-color: $col1;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.header_right, .header_left {
    width: 25%;
    height: 100%;
}
.header_center {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
.header_left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}
.header_logo {
    color: $col2;
    font-size: 20px;
}
.head_btn {
    border-radius: 5px;
    background-color: $col2;
    border: 1px solid $col2;
    color: white;
    padding: 8px 15px;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
    transition: 0.3s;
    &:hover {
        border: 1px solid $col5;
        background-color: $col5;
        color: $col3;
        transition: 0.3s;
    }
}
.head_btn_menu {
    border-radius: 5px;
    background-color: $col6;
    border: 1px solid  $col6;
    color: $col2;
    padding: 8px 15px;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
    transition: 0.3s;
    &:hover {
        border: 1px solid $col2;
        background-color: $col2;
        color: white;
        transition: 0.3s;
    }
}
.icon_btn {
    background-color: transparent;
    color: $col2;
}

// CHATBOX
.chatbox {
    width: 100%;
    height: calc(100% - 60px);
    position: relative;
}
.chat {
    width: 100%;
    height: 100%;
}
.chat_scroll {
    max-height: fit-content;
    position: absolute;
    bottom: 120px;
    height: calc(100% - 120px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.messages {
    margin: auto;
    padding: 15px 16px;
    width: 100%;
    height: fit-content;
    min-height: 100%;
    z-index: -1;
}
.msg_box {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
}
.message_box {
    border: 1px solid $col2;
    border-radius: 5px;
    background-color: white;
    width: 95%;
    height: 100%;
    padding: 8px 15px;
    position: absolute;
    bottom: -10px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    padding: 10px 15px;
    font-size: 14px;
    width: 100%;
}
.msg_btn {
    padding: 10px 10px;
    font-size: 14px;
    background-color: $col1;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
    width: 100px;
    white-space: nowrap;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        background-color: $col2;
    }
}
.foot {
    width: 100%;
    height: 60px;
    background-color: $col1;
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot a {
    text-decoration: underline;
    font-family: font_M;
    color: $col5;
}
.msg_user, .msg_ai {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
}
.msg_user {
    justify-content: flex-end;
}
.msg_ai {
    justify-content: flex-start;
}
.msg_box_user, .msg_box_ai {
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 14px;
    max-width: 90%;
}
.msg_box_user {
    background-color: $col1;
    color: $col6;
}
.msg_box_ai {
    padding-left: 30px;
    padding-top: 20px;
    margin-left: 15px;
    background-color: $col7;
    color: $col3;
}
.ai_img {
    position: relative;
}
.ai_icon {
    position: absolute;
    top: 0;
    left: -2px;
    width: 40px;
    height: 40px;
    background-color: #00B8A8;
    border-radius: 100%;
    border: 3px solid white;
}
// PATIENT FORM
.patient_form {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 60px);
}
.input_container {
    position: relative;
    margin-top: 25px;
}
.input_label {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    color: $col2;
    font-size: 12px;
    font-family: font_M;
    position: absolute;
    top: -9px;
    left: 15px;
    transition: 0.3s;
}
.input_border {
    border: 1px solid $col2;
    border-radius: 5px;
    transition: 0.3s;
}
.input_custom {
    width: 100%;
    height: auto;
    padding: 8px 18px;
    padding-top: 15px;
    font-size: 14px;
    color: $col3;
    background: transparent;
    &::placeholder {
        color: #cae0de;
    }
}
// .input_custom:first-letter {
//     text-transform: capitalize;
// }
.input_container:hover {
    transition: 0.3s;
    .input_label {
        transition: 0.3s;
        color: $col1;
    }
    .input_border {
        transition: 0.3s;
        border: 1px solid $col1;
    }
}

.card_form {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #0000003f;
}
.card_title {
    font-family: font_B;
    font-size: 16px;
    color: $col3;
}
.card_desc {
    font-size: 14px;
    color: $col3;
}
.card_col_sec {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_col_gap {
    width: 10px;
    height: 100%;
}
.btn_negative {
    padding: 10px 10px;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 5px;
    width: 100%;
    white-space: nowrap;
    border: 1px solid $col1;
    color: $col1;
    background-color: white;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        border: 1px solid $colError;
        background-color: $colError;
        color: white;
    }
}
.btn_positive {
    padding: 10px 10px;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 5px;
    width: 100%;
    white-space: nowrap;
    border: 1px solid white;
    color: white;
    background-color: $col1;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        border: 1px solid $col2;
        background-color: $col2;
        color: white;
    }
}

// LOADER
.typing_indicator {
    display: flex;
    align-items: center;
}
.loader {
    justify-content: center;
}
.chat_typing {
    margin-top: 10px;
    padding-left: 30px;
    justify-content: flex-start;
}
.dot {
    width: 10px;
    height: 10px;
    background-color: $col1;
    border-radius: 50%;
    margin-right: 5px;
    animation: typing 0.3s infinite alternate;
}
@keyframes typing {
    0% { transform: scale(1); }
    100% { transform: scale(0.7); }
}

// NOTIF
.notify {
    background-color: $col1;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px 15px;
    font-size: 14px;
    font-family: font_M;
    border-radius: 5px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 10;
    animation: up 0.3s;
    box-shadow: 0px 10px 30px 0px #01596368;
}
@keyframes up {
    0% { bottom: -1px; left: 50px}
    100% { bottom: 50px; left: 50px;}
}
.success {
    background-color: $col5;
    color: $col2;
}

// Date Range
.dateRange {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}
.selected {
    background-color: $col1;
    color: white;
    padding: 8px 15px;
    font-size: 12px;
    border-radius: 5px 0 0 5px;
    transition: 0.3s;
    white-space: nowrap;
    &:hover {
        transition: 0.3s;
        background-color: $col2;
    }
    width: 105px;
}
.dates {
    background-color: $col7;
    padding: 8px 15px;
    font-size: 12px;
    border-radius: 0 5px 5px 0;
    white-space: nowrap;
    width: calc(100% - 105px);
}
.selection {
    position: absolute;
    top: 35px;
    left: 0px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 10px 0px #0000003f;
}
.select {
    background-color: white;
    padding: 8px 15px;
    font-size: 12px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        border-radius: 5px;
        transition: 0.3s;
        background-color: $col1;
        color: white;
    }
}

// LOGIN
.login_page {
    width:  100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.login_card {
    width: 500px;
    height: auto;
    padding: 30px;
    padding-top: 40px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #0000003f;
}
.login_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_logo .header_logo {
    font-size: 20px;
}
.sign_label {
    font-size: 23px;
    color: $col3;
    font-family: font_M;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign_label_small {
    font-size: 14px;
    color: $col3;
    font-family: font_M;
}
.login_inputs {
    margin-top: 20px;
}
.login_username, .input_icon {
    display: block;
}
.input_icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.login_username, .login_password, .pass_icon, .login_btn {
    border: 1px solid $border;
    border-radius: 8px;
    width: 100%;
    padding: 10px 15px;
    color: $col3;
    height: 50px;
    font-size: 16px;
}
.login_password {
    border-radius: 8px 0 0 8px;
    border-right: 0px;
}
.login_username {
    &:focus {
        border: 1px solid $col1;
    }
}
.login_password {
    &:focus {
        border: 1px solid $col1;
        border-right: 0;
    }
}
.pass_icon {
    border-radius: 0 8px 8px 0;
    border-left: 0px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    background-color: $col1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $col1;
}
.login_btn {
    background-color: $col1;
    color: white;
    font-size: 16px;
    transition: 0.3s;
    border: 1px solid $col1;
    &:hover {
        border: 1px solid $col2;
        background-color: $col2;
        color: white;
        transition: 0.3s;
    }
}
.login_row, 
.checkbox_layout, 
.input_half_1, 
.input_half_2,
.check_box,
.label_notes {
    display: flex;
    align-items: center;
    justify-content: center;
}
.input_half_1 {
    justify-content: flex-start;
    width: 50%;
}
.input_half_2 {
    width: 50%;
    justify-content: flex-end;
}
.check_box, .check_box_act {
    border: 2px solid $border;
    background-color: transparent;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 10px;
}
.checkbox_layout {
    cursor: pointer;
}
.check_box_act {
    border: 2px solid $col1;
    background-color: $col1;
    color: white;
}
.forgot_pass {
    color: $col1;    
    cursor: pointer;
}
// SIDE BAR
.sidebar {
    position: relative;
    z-index: 100;
}
.sidebar_bg {
    height: 100%;
    width: 25%;
    height: 100vh;
    background-color: $col3;
    overflow: hidden;
    position: absolute;
}
.show_sidebar_style {
    bottom: 0px;
    left: 0px;
    animation: slideIn 0.3s;
}
.hide_sidebar_style {
    bottom: 0;
    left: -25%;
    animation: slideOut 0.3s;
}
@keyframes slideIn {
    0% { bottom: 0; left: -25%; }
    100% { bottom: 0; left: 0; }
}
@keyframes slideOut {
    0% { bottom: 0; left: 0; }
    100% { bottom: 0; left: -25%; }
}
.side_content {
    height: calc(100% - 180px);
    width: 100%;
    display: block;
}
.side_head, .side_foot {
    display: block;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side_btn {
    width: 60%;
    height: 38px;
    border-radius: 5px;
    background-color: $col1;
    color: white;
    font-size: 12px;
    transition: 0.3s;
    &:hover {
        background-color: $col5;
        color: $col2;
        transition: 0.3s;
    }
}
.side_btn_head {
    width: 60%;
    height: 38px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 12px;
    transition: 0.3s;
    &:hover {
        border: 1px solid $col1;
        background-color: $col1;
        color: white;
        transition: 0.3s;
    }
}
.side_btn_icon {
    width: 38px;
    height: 38px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 12px;
    transition: 0.3s;
    &:hover {
        border: 1px solid $col1;
        background-color: $col1;
        color: white;
        transition: 0.3s;
    }
}
.side_menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
}
.nav_content {
    width: calc(60% + 68px);
}
.side_nav {
    padding: 10px 15px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        transition: 0.3s;
        color: $col1;
    }
}
.nav_left, .nav_right {
    width: 50%;
    display: flex;
    align-items: center;
}
.nav_left {
    justify-content: flex-start;
}
.nav_right {
    justify-content: flex-end;
}
.line {
    width: 100%;
    height: 2px;
    background-color: $col1;
}

// NOTICES
.notice_container {
    width: 100%;
    padding: 20px 50px;

}
.notice_img {
    margin: auto;
    width: 170px;
    height: 170px;
    background-image: url("../assets/svg/no_history.svg");
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
}
.notice_title {
    color: $col8;
    font-size: 25px;
    font-family: font_M;
    text-align: center;
    width: 100%;
}
.notice_sub {
    color: $col8;
    font-size: 16px;
    font-family: font_R;
    text-align: center;
    width: 100%;
}