@font-face {
    font-family: font_R;
    src: url(poppins_regular.ttf);
}

@font-face {
    font-family: font_M;
    src: url(poppins_medium.ttf);
}

@font-face {
    font-family: font_B;
    src: url(poppins_bold.ttf);
}

@font-face {
    font-family: font_BL;
    src: url(poppins_black.ttf);
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    // color: #303030;
    // color: #555555;

    // user-select: none;
    // /* supported by Chrome and Opera */
    // -webkit-user-select: none;
    // /* Safari */
    // -khtml-user-select: none;
    // /* Konqueror HTML */
    // -moz-user-select: none;
    // /* Firefox */
    // -ms-user-select: none;
    /* Internet Explorer/Edge */
    font-family: font_R;
    outline-width: 0;
    outline-style: none;
    border: 0px;
}

html,
body {
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
        margin: 0px;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ffffff0a;
// border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff1c;
}

$col1: #00B8A8;
$col2: #015963;
$col3: #3C4041;
$col4: #11F3E0;
$col5: #CAF0C1;
$col6: #F2FBFA;

$colError: #FF6161;

// INDEX
.login_page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainPage {
    width: 100vw;
    height: 100vh;
}
.page_header {
    width: 100%;
    height: 60px;
}
.page_body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page_left, .page_right {
    width: 25%;
    height: 100%;
    background-color: $col6;
}
.page_chat {
    width: 50%;
    height: 100%;
}

// HEADER
.header {
    background-color: $col1;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_right, .header_left {
    width: 25%;
    height: 100%;
}
.header_center {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
.header_left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}
.header_logo {
    color: $col2;
    font-size: 20px;
}
.head_btn {
    border-radius: 5px;
    background-color: $col4;
    color: $col2;
    padding: 8px 15px;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}
.special_btn {
    background-color: $col5;
}
.icon_btn {
    background-color: transparent;
    color: $col2;
}

// CHATBOX
.chatbox {
    width: 100%;
    height: calc(100% - 60px);
    position: relative;
}
.chat {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.messages {
    padding: 15px 16px;
    // border: 1px solid red;
    width: 100%;
    height: fit-content;
    min-height: 100%;
    max-height: fit-content;
}
.msg_box {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
}
.message_box {
    border: 1px solid $col2;
    border-radius: 5px;
    background-color: white;
    width: 95%;
    height: 100%;
    padding: 8px 15px;
    position: absolute;
    bottom: -10px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    padding: 10px 15px;
    font-size: 14px;
    width: 100%;
}
.msg_btn {
    padding: 10px 10px;
    font-size: 14px;
    background-color: $col1;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
    width: 100px;
    white-space: nowrap;
}
.foot {
    width: 100%;
    height: 60px;
    background-color: $col1;
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot a {
    text-decoration: underline;
    font-family: font_M;
    color: $col5;
}
