@font-face {
    font-family: font_R;
    src: url(poppins_regular.ttf);
}
@font-face {
    font-family: font_M;
    src: url(poppins_medium.ttf);
}
@font-face {
    font-family: font_B;
    src: url(poppins_bold.ttf);
}
@font-face {
    font-family: font_SB;
    src: url(poppins_semibold.ttf);
}
@font-face {
    font-family: font_BL;
    src: url(poppins_black.ttf);
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    // color: #303030;
    // color: #555555;

    // user-select: none;
    // /* supported by Chrome and Opera */
    // -webkit-user-select: none;
    // /* Safari */
    // -khtml-user-select: none;
    // /* Konqueror HTML */
    // -moz-user-select: none;
    // /* Firefox */
    // -ms-user-select: none;
    /* Internet Explorer/Edge */
    font-family: font_R;
    outline-width: 0;
    outline-style: none;
    border: 0px;
}

html,
body {
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
        margin: 0px;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ffffff0a;
// border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff1c;
}

$col1: #00B8A8;
$col2: #015963;
$col3: #3C4041;
$col4: #10f3e0;
$col5: #CAF0C1;
$col6: #F2FBFA;
$col7: #EEEEEE;
$col8: #868686;

$border: #D0D5DD;
$border2: #E4F4F3;

$colError: #FF6161;
$colError2: #bd4747;

// INDEX
.mainPage {
    width: 100vw;
    height: 100vh;
}
.page_header {
    width: 100%;
    height: 60px;
}
.page_body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page_left, .page_right {
    width: 25%;
    height: 100%;
    background-color: $col6;
    // background-color: white;
}
// .page_left {
//     border-right: 1px solid $border;
// }
// .page_right {
//     border-left: 1px solid $border;
// }
.page_chat {
    width: 50%;
    height: 100%;
}

// HEADER
.header {
    background-color: $col1;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.header_right, .header_left {
    width: 25%;
    height: 100%;
}
.header_center {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
.header_left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}
.header_logo {
    color: $col2;
    font-size: 20px;
}
.head_btn {
    border-radius: 5px;
    background-color: $col2;
    border: 1px solid $col2;
    color: white;
    padding: 8px 15px;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
    transition: 0.3s;
    &:hover {
        border: 1px solid $col5;
        background-color: $col5;
        color: $col3;
        transition: 0.3s;
    }
}
.head_btn_menu {
    border-radius: 5px;
    background-color: $col6;
    border: 1px solid  $col6;
    color: $col2;
    padding: 8px 15px;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
    transition: 0.3s;
    &:hover {
        border: 1px solid $col2;
        background-color: $col2;
        color: white;
        transition: 0.3s;
    }
}
.icon_btn {
    background-color: transparent;
    color: $col2;
}

// CHATBOX
.chatbox {
    width: 100%;
    height: calc(100% - 60px);
    position: relative;
}
.chat {
    width: 100%;
    height: 100%;
}
.chat_scroll {
    max-height: fit-content;
    position: absolute;
    bottom: 120px;
    height: calc(100% - 120px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.messages {
    margin: auto;
    padding: 15px 16px;
    width: 100%;
    height: fit-content;
    min-height: 100%;
    z-index: -1;
}
.msg_box {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
}
.message_box {
    border: 1px solid $col2;
    border-radius: 5px;
    background-color: white;
    width: 95%;
    height: 100%;
    padding: 8px 15px;
    position: absolute;
    bottom: -10px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    padding: 10px 15px;
    font-size: 14px;
    width: 100%;
}
.msg_btn {
    padding: 10px 10px;
    font-size: 14px;
    background-color: $col1;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
    width: 100px;
    white-space: nowrap;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        background-color: $col2;
    }
}
.foot {
    width: 100%;
    height: 60px;
    background-color: $col1;
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot a {
    text-decoration: underline;
    font-family: font_M;
    color: $col5;
}
.foot div b {
    color: $col5;
}
.msg_user, .msg_ai {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
}
.msg_user {
    justify-content: flex-end;
}
.msg_ai {
    justify-content: flex-start;
}
.msg_box_user, .msg_box_ai {
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 14px;
    max-width: 90%;
}
.msg_box_user {
    background-color: $col1;
    color: $col6;
}
.msg_box_ai {
    padding-left: 30px;
    padding-top: 20px;
    margin-left: 15px;
    background-color: $col7;
    color: $col3;
}
.ai_img {
    position: relative;
}
.ai_icon {
    position: absolute;
    top: 0;
    left: -2px;
    width: 40px;
    height: 40px;
    background-color: #00B8A8;
    border-radius: 100%;
    border: 3px solid white;
}
// PATIENT FORM
.patient_form {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 60px);
}
.form_btns {
    background-color: white;
    width: 25%;
    height: 60px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    box-shadow: 10px -5px 10px 0px #00000028;
}
.form_btns2 {
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_scroll {
    margin-bottom: 65px;
}
.input_container {
    position: relative;
    margin-top: 25px;
}
.input_label {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    color: $col2;
    font-size: 12px;
    font-family: font_M;
    position: absolute;
    top: -9px;
    left: 15px;
    transition: 0.3s;
}
.input_border {
    border: 1px solid $col2;
    border-radius: 5px;
    transition: 0.3s;
}
.input_custom {
    width: 100%;
    height: auto;
    padding: 8px 18px;
    padding-top: 15px;
    font-size: 14px;
    color: $col3;
    background: transparent;
    &::placeholder {
        color: #cae0de;
    }
}
.input_unit_choices {
    // border: 1px solid red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
}
.unit_choice {
    margin-left: 5px;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid $col2;
    color: $col2;
    padding: 5px 10px;
    font-size: 12px;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        background-color: $col2;
        border: 1px solid $col2;
        color: white;
    }
}
.unit_choice_actv {
    background-color: $col2;
    border: 1px solid $col2;
    color: white;
}
// .input_custom:first-letter {
//     text-transform: capitalize;
// }
.input_container:hover {
    transition: 0.3s;
    .input_label {
        transition: 0.3s;
        color: $col1;
    }
    .input_border {
        transition: 0.3s;
        border: 1px solid $col1;
    }
}
.card_form {
    background-color: white;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000028;
}
.card_title {
    font-family: font_M;
    font-size: 18px;
    color: $col3;
}
.card_desc {
    font-size: 14px;
    color: $col3;
    margin-top: 10px;
}
.card_col_sec {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_col_gap {
    width: 10px;
    height: 100%;
}
.card_col {
    width: 100%;
}
// .card_col_2 {
//     width: 100%;
//     padding-left: 10px;
//     padding-right: 10px;
// }
.btn_negative {
    padding: 10px 10px;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 5px;
    width: 100%;
    white-space: nowrap;
    border: 1px solid $col1;
    color: $col1;
    background-color: white;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        border: 1px solid $colError;
        background-color: $colError;
        color: white;
    }
}
.btn_positive {
    padding: 10px 10px;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 5px;
    width: 100%;
    white-space: nowrap;
    border: 1px solid white;
    color: white;
    background-color: $col1;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        border: 1px solid $col2;
        background-color: $col2;
        color: white;
    }
}

// LOADER
.typing_indicator {
    display: flex;
    align-items: center;
}
.loader {
    justify-content: center;
}
.loader_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}
.chat_typing {
    margin-top: 10px;
    padding-left: 30px;
    justify-content: flex-start;
}
.dot {
    width: 10px;
    height: 10px;
    background-color: $col1;
    border-radius: 50%;
    margin-right: 5px;
    animation: typing 0.3s infinite alternate;
}
@keyframes typing {
    0% { transform: scale(1); }
    100% { transform: scale(0.7); }
}

// NOTIF
.notify {
    background-color: $col1;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px 15px;
    font-size: 14px;
    font-family: font_M;
    border-radius: 5px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 10;
    animation: up 0.3s;
    box-shadow: 0px 10px 30px 0px #01596368;
}
@keyframes up {
    0% { bottom: -1px; left: 50px}
    100% { bottom: 50px; left: 50px;}
}
.success {
    background-color: $col5;
    color: $col2;
}
.fail {
    background-color: $colError;
    color: white;
}

// Date Range
.dateRange {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}
.selected {
    background-color: $col1;
    color: white;
    padding: 8px 15px;
    font-size: 12px;
    border-radius: 5px 0 0 5px;
    transition: 0.3s;
    white-space: nowrap;
    &:hover {
        transition: 0.3s;
        background-color: $col2;
    }
    width: 105px;
}
.dates {
    background-color: $col7;
    padding: 8px 15px;
    font-size: 12px;
    border-radius: 0 5px 5px 0;
    white-space: nowrap;
    width: calc(100% - 105px);
}
.selection {
    position: absolute;
    top: 35px;
    left: 0px;
    background-color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 10px 0px #0000003f;
}
.select {
    background-color: white;
    padding: 8px 20px;
    font-size: 12px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        border-radius: 0px;
        transition: 0.3s;
        background-color: $col1;
        color: white;
    }
}

// LOGIN
.modal_bg {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 101;
    width: 100%;
    height: 100%;
    background: #344054b3;
    backdrop-filter: blur(8px);
}
.close_modal_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: $col1;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        color: white;
        background-color: $colError;
    }
}
.login_card {
    background-color: white;
    margin: auto;
    width: 500px;
    height: auto;
    padding: 30px;
    padding-top: 40px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #0000003f;
}
.login_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_logo .header_logo {
    font-size: 20px;
}
.head_profile {
    display: flex;
    align-items: center;
    justify-content: center;
}
.head_username {
    color: white;
    font-family: font_M;
}
.profile_btn {
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-family: font_M;
    padding: 0px;
    color: $col2;
    background-color: $col5;
    border: 3px solid white;
    border-radius: 100%;
    margin-left: 10px;
}
.sign_label {
    font-size: 23px;
    color: $col3;
    font-family: font_M;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign_label_small {
    font-size: 14px;
    color: $col3;
    font-family: font_M;
}
.login_inputs {
    margin-top: 20px;
}
.login_username, .input_icon {
    display: block;
}
.input_icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.login_username, .login_password, .pass_icon, .login_btn {
    border: 1px solid $border;
    border-radius: 8px;
    width: 100%;
    padding: 10px 15px;
    color: $col3;
    height: 50px;
    font-size: 16px;
}
.login_password {
    border-radius: 8px 0 0 8px;
    border-right: 0px;
}
.login_username {
    &:focus {
        border: 1px solid $col1;
    }
}
.login_password {
    &:focus {
        border: 1px solid $col1;
        border-right: 0;
    }
}
.pass_icon {
    border-radius: 0 8px 8px 0;
    border-left: 0px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    background-color: $col1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $col1;
}
.login_btn {
    background-color: $col1;
    color: white;
    font-size: 16px;
    transition: 0.3s;
    border: 1px solid $col1;
    &:hover {
        border: 1px solid $col2;
        background-color: $col2;
        color: white;
        transition: 0.3s;
    }
}
.login_row, 
.checkbox_layout, 
.input_half_1, 
.input_half_2,
.check_box,
.label_notes {
    display: flex;
    align-items: center;
    justify-content: center;
}
.input_half_1 {
    justify-content: flex-start;
    width: 50%;
}
.input_half_2 {
    width: 50%;
    justify-content: flex-end;
}
.check_box, .check_box_act {
    border: 2px solid $border;
    background-color: transparent;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 10px;
}
.checkbox_layout {
    cursor: pointer;
}
.check_box_act {
    border: 2px solid $col1;
    background-color: $col1;
    color: white;
}
.forgot_pass {
    color: $col1;    
    cursor: pointer;
}
// SIDE BAR
.sidebar {
    position: relative;
    z-index: 100;
}
.sidebar_bg {
    height: 100%;
    width: 25%;
    height: 100vh;
    background-color: $col3;
    overflow: hidden;
    position: absolute;
}
.show_sidebar_style {
    bottom: 0px;
    left: 0px;
    animation: slideIn 0.3s;
}
.hide_sidebar_style {
    bottom: 0;
    left: -25%;
    animation: slideOut 0.3s;
}
@keyframes slideIn {
    0% { bottom: 0; left: -25%; }
    100% { bottom: 0; left: 0; }
}
@keyframes slideOut {
    0% { bottom: 0; left: 0; }
    100% { bottom: 0; left: -25%; }
}
.side_content {
    height: calc(100% - 180px);
    width: 100%;
    display: block;
}
.side_head, .side_foot {
    display: block;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side_btn {
    width: 60%;
    height: 38px;
    border-radius: 5px;
    background-color: $col1;
    color: white;
    font-size: 12px;
    transition: 0.3s;
    &:hover {
        background-color: $col5;
        color: $col2;
        transition: 0.3s;
    }
}
.side_btn_head {
    width: 60%;
    height: 38px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 12px;
    transition: 0.3s;
    &:hover {
        border: 1px solid $col1;
        background-color: $col1;
        color: white;
        transition: 0.3s;
    }
}
.side_btn_icon {
    width: 38px;
    height: 38px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 12px;
    transition: 0.3s;
    &:hover {
        border: 1px solid $col1;
        background-color: $col1;
        color: white;
        transition: 0.3s;
    }
}
.side_menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
}
.nav_content {
    width: calc(60% + 68px);
}
.side_nav {
    padding: 10px 15px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        transition: 0.3s;
        color: $col1;
    }
}
.nav_left, .nav_right {
    width: 50%;
    display: flex;
    align-items: center;
}
.nav_left {
    justify-content: flex-start;
}
.nav_right {
    justify-content: flex-end;
}
.line {
    width: 100%;
    height: 2px;
    background-color: $col1;
}

// NOTICES
.notice_container {
    width: 100%;
    padding: 20px 50px;

}
.notice_img {
    margin: auto;
    width: 170px;
    height: 170px;
    background-image: url("../assets/svg/no_history.svg");
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
}
.notice_title {
    color: $col8;
    font-size: 25px;
    font-family: font_M;
    text-align: center;
    width: 100%;
}
.notice_sub {
    color: $col8;
    font-size: 16px;
    font-family: font_R;
    text-align: center;
    width: 100%;
}
// SETTINGS
.settings {
    position: relative;
    z-index: 100;
}
.settings_bar {
    height: 100%;
    width: 25%;
    height: 100vh;
    background-color: white;
    overflow: hidden;
    position: absolute;
    border-left: 1px solid $border;
}
.show_settings_style {
    bottom: 0px;
    right: 0px;
    animation: slideIn2 0.3s;
}
.hide_settings_style  {
    bottom: 0;
    right: -25%;
    animation: slideOut2 0.3s;
}
@keyframes slideIn2 {
    0% { bottom: 0; right: -25%; }
    100% { bottom: 0; right: 0; }
}
@keyframes slideOut2 {
    0% { bottom: 0; right: 0; }
    100% { bottom: 0; right: -25%; }
}
.select_settings_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.select_settings_container_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    padding: 10px;
}
.select_settings_container_3 {
    width: auto;
}
.selected_setting {
    width: 100%;
    height: 38px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid $border;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.selected_setting_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0px;
    min-width: 150px;
    border: 0px;
    .button_div1, .button_div2 {
        display: flex;
        align-items: center;
        color: $col3;
        font-size: 14px;
        font-family: font_R;
    }
    .button_div1 {
        justify-content: flex-start;
        padding-left: 0px;
        padding-right: 10px;
    }
    .button_div2 {
        padding-left: 10px;
        padding-right: 0px;
        justify-content: flex-end;
    }
}
.button_div1, .button_div2 {
    width: 50%;
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    color: $col3;
    font-size: 14px;
}
.button_div1 {
    font-family: font_SB;
    justify-content: flex-start;
}
.button_div2 {
    justify-content: flex-end;
}
.select_settings {
    position: relative;
}
.options_container {
    position: absolute;
    top: 20px;
    left: 1px;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 10px 0px #0000003f;
    z-index: 100;
}
.options_container_3 {
    position: absolute;
    top: 0px;
    left: 21px;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 10px 0px #0000003f;
    z-index: 100;
}
.side_btn_icon_2 {
    min-width: 38px;
    height: 38px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid $border;
    color: $border;
    font-size: 12px;
    transition: 0.3s;
    &:hover {
        border: 1px solid $col1;
        background-color: $col1;
        color: white;
        transition: 0.3s;
    }
}
.settings_options {
    background-color: white;
    padding: 8px 20px;
    font-size: 12px;
    border-radius: 5px;
    transition: 0.3s;
    white-space: nowrap;
    color: $col3;
    cursor: pointer;
    &:hover {
        border-radius: 0px;
        transition: 0.3s;
        background-color: $col1;
        color: white;
    }
    transition: 0.3s;
}
.setting_icon {
    color: $col2;
    transition: 0.3s;
}
.settings_options {
    transition: 0.3s;
    &:hover {
        .setting_icon {
            color: white;
        }
    }
    &:hover {
        .select_button {
            color: white;
        }
    }
}
.select_button {
    width: 100%;
    background-color: transparent;
    color: $col1;
    border: 0px;
}
.settings_component {
    height: calc(100% - 138px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.components {
    width: 100%;
    height: auto;
    padding: 20px;
    padding-top: 0px;
}
.card_title2 {
    margin-top: 20px;
    font-size: 18px;
    font-family: font_M;
}
.sign_label_small2 {
    font-size: 13px;
    font-family: font_M;
    color: $col1;
}
.input_custom2 {
    width: 100%;
    height: 38px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid $border;
    padding: 8px 15px;
    transition: 0.3s;
    font-size: 14px;
    color: $col3;
    &:hover {
        transition: 0.3s;
        border: 1px solid $col1;
    }
    &:focus {
        transition: 0.3s;
        border: 1px solid $col1;
    }
    &[type="text"]:disabled {
        background-color: $col7;
        border: 1px solid $col7;
        color: $col2;
    }
}
.input_custom2_btn {
    min-width: 38px;
    height: 38px;
    border-radius: 5px;
    background-color: transparent;
    color: $border;
    border: 1px solid $border;
    margin-left: 10px;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        border: 1px solid $col1;
        background-color: $col1;
        color: white;
    }
}
.btn_active {
    background-color: $col1;
    color: white;
    border: 1px solid $col1;
}
.input_custom2_btn2 {
    width: auto;
    height: 38px;
    border-radius: 5px;
    background-color: $col1;
    color: white;
    margin-left: 10px;
    padding: 5px 20px;
    font-size: 14px;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        background-color: $col2;
    }
}
.input_custom2_btn3 {
    width: auto;
    height: 38px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid $col1;
    color: $col1;
    margin-left: 10px;
    padding: 5px 20px;
    font-size: 14px;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        color: white;
        border: 1px solid $col2;
        background-color: $col2;
    }
}
.input_custom2_btn4 {
    width: auto;
    height: 38px;
    border-radius: 5px;
    background-color: $colError;
    color: white;
    margin-left: 10px;
    padding: 5px 20px;
    font-size: 14px;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        background-color: $colError2;
    }
}
.btn_container_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.input_container2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.note_line {
    width: 100%;
    height: 1px;
    background-color: $border;
    margin-top: 20px;
    margin-bottom: 20px;
}
.custom_toggle_container {
    width: 100%;
    margin-top: 20px;
}
.toggle_icon_text {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.toggle_box {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.toggle_text {
    width: calc(100% - 50px);
    padding-left: 10px;
}
.toggle_holder {
    max-width: 35px;
    max-height: 20px;
    min-width: 35px;
    min-height: 20px;
    background-color: $border;
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2px;
    padding-right: 2px;
}
.toggle_circle {
    max-width: 16px;
    max-height: 16px;
    min-width: 16px;
    min-height: 16px;
    border-radius: 100%;
    background-color: white;
    transition: 0.3s;
}
.toggle_holder_active {
    transition: 0.3s;
    background-color: $col1;
    justify-content: flex-end;
}
.errorMess {
    color: $colError;
    font-size: 12px;
    font-family: font_M;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.member_main {
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}
.member_container {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.member_circle  {
    min-width: 30px;
    min-height: 30px;
    border-radius: 100px;
    margin-right: 10px;
    background-color: $col1;
    color: white;
    font-size: 16px;
    font-family: font_M;
    display: flex;
    align-items: center;
    justify-content: center;
}
.member_Name {
    font-size: 14px;
    font-family: font_R;
}

// HISTORY
.history_container {
    width: 100%;
    padding: 5px;
}
.history_card {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000028
}
.history_datetime {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}
.history_date {
    font-size: 14px;
    font-family: font_M;
    color: $col3;
    white-space: nowrap;
}
.history_time {
    font-size: 11px;
    font-family: font_M;
    color: $col3;
    white-space: nowrap;
}
.history_title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-family: font_M;
    padding: 10px 15px;
    background-color: $border2;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        background-color: $col1;
        color: white;
    }
}



// PAYMENT PAGE
.payment_bg {
    background-color: $col1;
    height: 100vh;
    width: 100vw;
}